*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-clip: border-box
}

/* galvenās lietas */

:root {
    font-size: 18px;
    --foreground: #ededed;
    --foreground-dimmed: #929292;
    --accent-main: #8C080C;
    --accent-pink: #FF66B3;
    --accent-aero: #42BFDD;
    --accent-mint: #BBE6E4;
    --background: #000000;
    --background-lighter: #595959;
    --background-light: #ffffff;
    --background-lv: #8C080C;

    --content-pad: 2.5rem;
    --overflow-pad: 2.5rem;
    --max-width: 1756px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1;
    overflow-x: hidden;
    background-color: var(--bg);
    color: var(--fg);
    transition: all 0.5s;
}

/* režīmi */


.latvija {
    --bg: var(--background-lv);
    --fg: var(--foreground);
    --accent-main: var(--foreground);
    ::selection {
        background: #f93636; 
    }
      
}

.light {
    --bg: var(--background-light);
    --fg: var(--background);
}

.kawaii {
    --bg: var(--background-light);
    --fg: var(--accent-pink);
    --accent-main: var(--accent-aero);
    ::selection {
        background: var(--accent-mint);
    }
}

img {
    user-select: none;
}

h1 {
	font-size: 2rem;
	font-weight: 700;
	line-height: 1;
}


h1.landing {
	font-size: 5rem;
	font-weight: 700;
	line-height: 1;
}


h1.landing-bottom {
	font-size: 5rem;
	font-weight: 700;
	line-height: 1;
}

h2 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
}

h3 {
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1;
}

p {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
}

p.lead {
	font-size: 1.15rem;
	font-weight: 400;
	line-height: 1;
}

a {
	text-decoration: none;
	color: var(--foreground);
}

.container {
    width: 100%;
    height: fit-content;
    padding: 0 var(--content-pad);   
}

.container > * {
    max-width: var(--max-width);
    width: 100%;
    margin: auto;
}

div.action-bar {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: 75% 1fr;
}

div.action-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.action-left {
    display: flex;
    align-items: center;
    justify-content: end;
}

div.action-left img {
    max-width: 3rem;
    max-height: 3rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    transition: all 0.3s;
    border-radius: 0.5rem;
}

div.action-left img:hover {
    rotate: 5deg;
    scale: 1.05;
}


div.lit-teksts {
    margin-top: 1rem;
}

div.lit-teksts > * {
    margin-top: 1rem;
}

div.lit-teksts > p.dialogs {
    margin: 0rem 0rem 0rem 1rem;
}

div.back {
    position:fixed;
    margin-left: 1.5rem;
    width: fit-content;
    transition: all 0.5s;
}

div.back a {
    font-size: 1.5rem;
    font-weight: 900;
}

div.back:hover {
    scale: 2;
}

/* krāsas */

.accent-pink {
    color: var(--accent-pink);
}

.foreground {
    color: var(--foreground);
}

.background-lighter {
    color: var(--background-lighter);
}

.accent-main {
    color: var(--accent-main);
}

.foreground-dimmed {
    color: var(--foreground-dimmed);
}

.italija {
    font-style: italic;
}